name: SE333_CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  SE333_CI_JOB:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-repo
        uses: actions/checkout@v4

      - name: setupJava
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install Linter (Checkstyle)
        run: mvn checkstyle:checkstyle -Dcheckstyle.skip=false
        continue-on-error: true

      - name: Upload Checkstyle Result
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: target/checkstyle-result.xml

      - name: Run Maven Test
        run: mvn -B test

      - name: Jacoco Report
        run: mvn jacoco:report