name: SE333_CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  SE333_CI_JOB:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          architecture: x64

      - name: Install Linter (Checkstyle)
        run: mvn checkstyle:checkstyle

      - name: Run Checkstyle
        run: mvn checkstyle:check

      - name: Upload Checkstyle Result
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-result
          path: target/checkstyle-result.xml

      - name: Run Maven Tests
        run: mvn -B test

      - name: Generate Jacoco Report
        run: mvn jacoco:report